<!--------------------- #Encabezado -------------------------->
<app-encabezado></app-encabezado>
<!--------------------- #Acerca -------------------------->
<app-acerca></app-acerca>
<!------------------------- #Experiencia -------------------->
<app-experiencia></app-experiencia>
<!------------------------- #Educación -------------------->
<app-educacion></app-educacion>

<!-------------------------- skills------------------------------------->
<app-skills></app-skills>
<!---------------------- #Desarrollos ----------------------------------->
<app-desarrollos></app-desarrollos>
<!---------------------- #Pie de página ----------------------------------->
<app-foot></app-foot>
