<section class="main">
    <div class="container">
        <div class="row mx-3">
            <div class="align-self-center">
                <div class="foto">
                    <img src="./assets/Img/ru.jpg" alt="Ruben Peña" width="115">
                </div>
                <div class="row">
                    <div class="col-12">
                        <H1 class="H2 text-white mt-3" style="--bs-text-opacity: .8">{{misDatos.nombre}} {{misDatos.apellido}}</H1>
                    </div>
                </div>
                <H4 class="H4 text-white mt-3" style="--bs-text-opacity: .8">Desarrollador web full stack Junior</H4>
            </div>

        </div>

        <div class="row mx-3">
            <div class="col-9 text-light font-weight-bold">
              
                <p>{{ quiensoy }}</p>
                <p>{{ lugar }}</p>
                <p>{{ otros }}</p>
              
                
            </div>
            <div class="col-3 align-self-center text-end crud">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash3"></i></a>
            </div>
        </div>
    </div>
</section>
