<header class="p-3 text-bg-dark">
    <nav class=".navbar-brand">
        <div class="container">
            <div class="row ">
                <div class="logo col-sm-3 col-12 align-self-center text-center">
                    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                        <img src="./assets/Img/APLogo-20-20.png"  alt="Argentina programa Logo"></a>
                </div>
                <div class="redes-sociales col-sm-7 col-6 align-self-center text-center text-sm-end">
                    <a href="https://www.instagram.com/ruben_fisu/?hl=es"  target="_blank" class="instagram mx-2"><i class="bi bi-instagram"></i></a>
                    <a href="https://mobile.twitter.com/lelumilmau"  target="_blank" class="twitter mx-2"><i class="bi bi-twitter"></i></a>
                    <a href="https://github.com/rubenpena64.html"  target="_blank" class="github mx-2"><i class="bi bi-github"></i></a>

                </div>
                <div class="login col-sm-2 col-6 align-self-center text-sm-end">
                    <button type="button" class="btn btn-outline-light my-5" (click)="loguearse()">Login</button>
                </div>

            </div>
        </div>
    </nav>
</header>
