<section class="expe mt-4">
    <div class="container caja">
        <div class="row">
            <div class="col-11 tit">
                <H4>Experiencia</H4>
            </div>
            <div class="col-1 align-self-center text-center crud">
                <a href="#"><i class="bi bi-plus-square"></i></a>
            </div>
            <div class="col-9">
                <p class="h5 mt-3">Texto 1</p>
                <p class="h6">1900-1900</p>
                <p class="descrip">Texto que se editará dinámicamente</p>
            </div>
            <div class="col-3 align-self-center text-end crud">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash3"></i></a>
            </div>

            <div class="col-9">
                <p class="h5 mt-3">Texto 2</p>
                <p class="h6">1900-1900</p>
                <p class="descrip">Texto que se editará dinámicamente</p>
            </div>
            <div class="col-3 align-self-center text-end crud">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash3"></i></a>
            </div>
            <div class="col-9">
                <p class="h5 mt-3">Texto 2</p>
                <p class="h6">1900-1900</p>
                <p class="descrip">Texto que se editará dinámicamente</p>
            </div>
            <div class="col-3 align-self-center text-end crud">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash3"></i></a>
            </div>
        </div>
    </div>
</section>

