.caja .post {
    margin-bottom: 1.875em;
    border-radius: 15px;

}

.caja .post .contenedor {
    background: rgba(221, 221, 238, 0.085);
    box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.153);
    margin: 20px;
    border-radius: 15px;
}   
 .row .thumber {
    margin: 20px;
}
.thumber img {
    vertical-align: top;
   /* height: auto; */
   width: 220px;
   height: 165px;
    border-radius: 5px;
}
.post .contenedor .row .info {
    padding: 1.25em;
}
.post .contenedor .row .titulo {
    line-height: 1.125em;
    margin-bottom: 1.25em;
    font-size: 1.4em;
}

.post .contenedor .row .titulo a {
    color: #bbb;
}

.post .contenedor .row .info .extracto {
    color: white;
    font-size: 1em;
    line-height: 1.75em;
    margin-bottom: 1.25em;
    overflow: hidden;
}
.crud a {
    border-radius: 40%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    display: inline-block;
    color: #fff;
}

.crud a:Hover {
    background: #ddd;
    color: #000;
}
/* Media queries proyectos */


@media (max-width: 840px){
    .thumber img {      
       height: auto; 
       width: 160px;  
   }   
}
@media (max-width: 574px){
    .thumber img {      
       height: auto; 
       width: 350px;  
    }   
}
@media (max-width: 450px){
    .thumber img {      
       height: auto; 
       width: 230px;  
    }   
}
   
