<section class="skills">
    <div class="container caja">
        <div class="row justify-content-around">
            <div class="col-9 tit">
                <H4>Hard and soft skills</H4>
            </div>
            <div class="col-3 align-self-center text-end crud">
                <a (click)="agregarElemento()"><i class="bi bi-plus-square"></i></a>
            </div>
        </div>
        <div class="cajaSkill">
            <div *ngFor="let nivel of skillsLista; let indice = index">
                <div class="miCaja">
                    <div class="unskill mt-4">

                        <div class="outer">
                            <div class="inner">
                               <div class="skill"><span class="nivel">{{nivel.valor}}</span>%<br>{{ nivel.nombre }}</div>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63" />
                                    <stop offset="100%" stop-color="#673ab7" />
                                </linearGradient>
                            </defs>
                            <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" [ngStyle]="{'strokeDashoffset': nivel.largoBarra}" />
                        </svg>
                        <div class="crud">
                            <a (click)="mostrarElemento(indice)"><i class="bi bi-pencil"></i></a>
                            <a (click)="borrarElemento(indice)"><i class="bi bi-trash3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>