<section class="skills mt-4">
    <div class="container caja pb-5">
        <div class="row justify-content-around">
            <div class="row justify-content-around">
                <div class="col-9 tit">
                    <H4>Hard and soft skills</H4>
                </div>
                <div class="col-3 align-self-center text-end crud">
                    <a href="#"><i class="bi bi-plus-square"></i></a>
                </div>
            </div>
            <!----------------Skill----------->
            <div class="unskill mt-4">

                <div class="outer">
                    <div class="inner">
                        <div class="skill"><span class="nivel">70</span>%<br>HTML</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
                <div class="crud">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <!----------------Skill----------->
            <div class="unskill mt-4">
                <div class="outer">
                    <div class="inner">
                        <div class="skill"><span class="nivel">55</span>%<br>CSS</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
                <div class="crud">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <!----------------Skill----------->
            <div class="unskill mt-4">
                <div class="outer">
                    <div class="inner">
                        <div class="skill"><span class="nivel">40</span>%<br>JS</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
                <div class="crud">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <!----------------Skill----------->
            <div class="unskill mt-4">
                <div class="outer">
                    <div class="inner">
                        <div class="skill"><span class="nivel">45</span>%<br>Java</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
                <div class="crud">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <!----------------Skill----------->
            <div class="col-12 col-lg-6 unskill mt-4">
                <div class="outer">
                    <div class="inner">
                        <div class="skill"><span class="nivel">80</span>%<br>C</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <circle class="circulos" cx="80" cy="80" r="70" stroke-linecap="round" />
                </svg>
                <div class="crud">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
