
.cajaSkill {
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-wrap:wrap;
  }
   
  .miCaja{
      width: 200px;;
      height: 200px;
      margin: 10px;
      max-width: 80%; 
      
  }
  
  .unskill {
      width: 160px;
      height: 160px;
      position: relative;
  }
  .skill {
      font-size: medium;
      font-weight: 500;
      color: #ccc;
      text-align: center;
  }
  .outer {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.2),
          -6px -6px 10px -1px rgba(0, 0, 0, 0.9);
  }
  .inner {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.3),
          inset -4px -4px 4px -1px rgba(0, 0, 0, 0.9);
  }
  circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-width: 20px;
      stroke-dasharray: 472;    
      stroke-dashoffset: 306;
  }
  
  svg {
      position: absolute;
      top: 0;
  }
  .crud a {
      border-radius: 40%;
      width: 2.5em;
      height: 2.5em;
      text-align: center;
      line-height: 2.5em;
      display: inline-block;
      color: #fff;
  }
  
  .crud a:Hover {
      background: #ddd;
      color: #000;
  }