<form class="formu">
    <div>        
        <input type="text" name="texto1"  id="texto1" class="textEntry col-12 col-lg-8 my-1"  [(ngModel)]="textos.tx1" placeholder="Debe ingresar un texto"/>
    </div>
    <div >        
        <input type="text" name="texto2" id="texto2" class="textEntry  my-1" name="text"  [(ngModel)]="textos.tx2"placeholder="Debe ingresar un texto"/>
    </div>
    <div>
      <textarea name="texto3"  id="texto3" class="textEntry col-12  my-1" rows="3"  [(ngModel)]="textos.tx3" placeholder="Debe ingresar un texto"></textarea>
      </div>
      <button type="button" class="btn btn-outline-light col-5 col-md-2" (click)="emitirEditado()">{{textos.txBt}}</button>
      <button type="button" class="btn btn-outline-light col-5 col-md-2 mx-3"  (click)="emitirCancel()">Cancelar</button>
</form>
